<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Antwnis.Properties.Settings.antwnisConnectionString"
            connectionString="server=localhost;user id=antwnis;password=antwnis@123;port=3307;characterset=utf8;database=antwnis"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>